.add-product-btn-wrapper {
    margin-left: 36px;
}

.container-list-wrapper {
    padding: 0 36px;
}

.table-wrapper {
    overflow-x: auto;
    padding-bottom: 20px;
}

.img-list-wrapper {
    max-width: 100px;
}

.bank-details-wrapper {
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {

    .add-product-btn-wrapper {
        margin-left: 16px;
    }

    .container-list-wrapper {
        padding: 0 16px;
    }
}